body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    /* height: 1200px; */
    margin: 0 auto;
    border: 5px solid #003049;
    /* play flexbox */

    display: flex;
    flex-direction: row;
    /* justify-content: flex-start;
    flex-wrap: wrap-reverse; */
    justify-content: center;

    /* align items moves along cross axis */
    /* align-items: baseline; */

    /* flex-wrap: wrap; */
    /* align-content: space-between; */
    /* align-content: center; */
}

#container div {
    width: 150px;
    /* width: 400px; */
    height: 150px;
    /* max-width: 200px; */
    text-align: center;
    flex: 0 1 19%;
    /* Play with Flex-basios  */
    /* flex-basis: 450px; */
}

/* Practice Align-self */
/* div:nth-of-type(3) {
    align-self: flex-end;
}

div:nth-of-type(2) {
    align-self: center;
}

div:nth-of-type(5) {
    align-self: flex-start;
} */

/* Practice w/ Flex Grow */
/* div:nth-of-type(1) {
    flex-grow: 1;
}

div:nth-of-type(2) {
    flex-grow: 2;
}

div:nth-of-type(3) {
    flex-grow: 1;
}*/

/* Practice w/ Flex-shrink */
/* div:nth-of-type(2) {

    flex-shrink: 1;
}

div:nth-of-type(3) {

    flex-shrink: 2;
} */

/* Another Example */
main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}

main .sidebar {
    background-color: purple;
    border: 2px solid red;
    flex: 1 2 250px;
}

main .maincontent {
    background-color: yellowgreen;
    flex: 2 1 500px;
}