<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Loops In EJS</title>
  </head>
  <body>
    <h1>All of my Dog's Name</h1>

    <ul>
      <% for(let dog of dogs){ %>
      <li><%= dog %></li>
      <% } %>
    </ul>
  </body>
</html>
