<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
  </head>
  <body>
    <h1>LOGIN FORM:</h1>
    <form action="/login" method="POST">
      <div>
        <label for="username">Username: </label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Enter username"
        />
      </div>
      <div>
        <label for="password">Password: </label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter Password"
        />
      </div>
      <button>Sign Up</button>
    </form>
  </body>
</html>
