<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOme</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt nihil
      facilis harum magnam. Sed explicabo unde placeat. Natus sapiente delectus
      a nesciunt quaerat eos nemo veniam, dignissimos magni deserunt voluptates.
    </p>
    <button>Click Me!</button>
    <button>Click Me!</button>
    <br />
    <h2>EJS Practice - <%= 9 * 9 %></h2>
    <h2>Uppercase this: <%= 'Mico Rayen'.toUpperCase()%></h2>
  </body>
</html>
