/* div{
    display: inline-block;
text-align: center;
}

img{
    display: block;
}   - Generic style*/

.pokemon {
  display: inline-block;
  text-align: center;
}

.pokemon img {
  display: block;
}
