body {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 6em;
    text-align: center;
}

nav {
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul,
li {
    display: inline;
    margin: 0;
    padding: 0;
}

ul {

    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}

/* Practice Media Queries */
/* @media (min-width: 600px) and (max-width: 800px) {
    h1 {
        color: purple;
    }
} */

@media (max-width: 1000px) {
    h1 {
        color: rgb(251, 255, 0);
    }
}

@media (max-width: 800px) {
    h1 {
        color: orange;
    }
}

@media (max-width: 500px) {
    h1 {
        color: red;
    }
}

/* @media (orientation: landscape) {
    body {
        background-color: teal;
    }
} */

@media (max-width: 768px) {
    h1 {
        font-size: 4em;
    }

    nav,
    nav ul {
        flex-direction: column;
        align-items: center;
    }


}